/* GENERAL STYLING */
html, body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
:root
{
    --primary-color: #1F2937;
    --accent-color: #3882F6;
    --secondary-color: #E5E7EB;
    --section-padding: 4rem 0;
}

h1
{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

h2
{
    font-size: 36px;
    font-weight: bolder;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

img
{
    max-width: 100%;
    height: auto;
}

ul, li
{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container
{
    max-width: 800px;
    width: 100%;
    display: flex;
    padding: 0 10px;
}

section, header, footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

section, footer
{
    padding: var(--section-padding);
}
/* HEADER SECTION */

header
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul
{
    display: flex;
    gap: 1rem;
}

header img
{
    width: 100px;
    height: auto;
}

.card-headerText
{
    font-size: 36px;
    font-weight: bolder;
    color: var(--primary-color); 
}


/* HERO SECTION */

.hero
{
    background-color: var(--primary-color);
    color: white;
    display: flex;
}

.hero p
{
    font-size: 18px;
    color: var(--secondary-color);
}

.hero .container
{
    gap: 1rem;
}

.hero div
{
    width: 100%;
    align-items: center;
    justify-content: center
}

.hero button
{
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    border: none;
    font-weight: 800;
    background-color: var(--accent-color);
}

/* CARDS SECTION */

.cards .container
{
    flex-direction: column;
    align-items: center;
}

.card-wrapper
{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card
{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.card-wrapper img
{
    border: 2px solid var(--accent-color);
    border-radius: .5rem;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* QUOTES SECTION */

.quote
{
    background-color: var(--secondary-color);
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .container
{
    flex-direction: column;
}

.name
{
    justify-self: end;
    text-align: right;
    font-weight: 600;
}

/* CTA Section */

.CTAWrapper
{
    border-radius: .5rem;
    background-color: var(--accent-color);
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.CTAHeading
{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

.CTAText
{
    width: 90%;
}

.CTAP
{
    margin-top: 0;
}

.CTA button
{
    width: 20%;
    flex-shrink: 0;
    align-self: center;
    padding: 1rem;
    font-weight: 700;
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
    background-color: #3882F6;
}
